ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
#samples li { margin: 5px; padding: 5px; width: 150px; }

body {
    background: #f7f7f7;
}

.wrapper {
    margin: 25px auto;
}

#sortable {
    /* background-color: rgb(200, 200, 255); */
    border: 1px dashed black;
    padding: 50px;
    width: 100%;
    height: 100%;
}

.control-group {
    min-height: 24px;
    margin-bottom: 30px;
    position: relative;
    /* width: 100%; */
    /* background-color: red; */
}


.control-label {
    width: 250px;
    padding-right: 15px;
    float: left;
    /* background-color: rgb(252, 206, 0); */
}


.controls {
    /* display: block; */
    margin-left: 32%;
    /* background-color: #04AA6D; */
}




.options {
    position: absolute;
    top: 0;
    right: -20px;
    width: 30px;
    /* margin-left: 20px; */
    /* height: 200px; */
    opacity: .1;

}

.options:hover {
    opacity: 1;

}

.btn-group button {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    padding: 2px 7px;
    cursor: pointer;

    /* height: 30px; */
    /* display: block; */
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}


.btn-group button:first-child {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

.btn-group button:last-child {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
  
.btn-group button:hover {
    background-color: #3e8e41;
}

* {
    box-sizing: border-box;
}

select {
    width: 295px;
}